<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="card">
      <a href="http://127.0.0.1:5000/">
        <button class="addnewpost">Back to Home</button>
      </a>
      <h1>Register</h1>
      <form method="POST">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Password:</label>
        <input type="password" name="password" required><br><br>
        <label>Email:</label>
        <input type="email" name="email" required><br><br>
        <button type="submit" class="blackbtn">Register</button>
        {% if message %}
          <p class="message">{{ message }}</p>
        {% endif %}
      </form>
  </div>
</body>
</html>