body {
  font-family: 'Courier New', monospace;
  background-color: rgb(88, 88, 88);
  color: #eee;
  line-height: 1.6;
  overflow-x: hidden;
}


.blog {
  margin: auto;
  max-width: 800px;
}


.h1post {
  font-size: 50px;
  font-weight: 300;
  color: #ff7f50;
  text-align: center;
}

a {
  color: #ff7f50;
  text-decoration: none;
}
.cardglobal {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #343a40;
  text-align: center;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 25px;
  backdrop-filter: blur(20px);
}

.card {
  padding: 20px;
  background-color: #343a40;
  text-align: center;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 25px;
  backdrop-filter: blur(20px);
  width: 50%;
  margin-left: 25%;
}

.video {
  margin: auto;
  max-width: 800px;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 500px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.whitebtn {
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 15px;
  backdrop-filter: blur(20px);
}

.blackbtn {
  background-color: #2196F3;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  backdrop-filter: blur(20px);
}

.deletebtn {
  background-color: #2196F3;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  backdrop-filter: blur(20px);
}


h1 {
  color: white;
  text-align: center;
  font-size: 36px;
}

.addnewpost {
  margin-left: 900px;
  width: 125px;
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 15px;
  backdrop-filter: blur(20px);
}

.backtohome {
  margin-left: 1191px;
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 15px;
}

label {
    color: black;
}

textarea {
  resize: none;
}

.post{
  max-width: 800px;
  margin: auto;
}

.author{
  color: grey;
  text-align: right;
}

.message{
  color: red;
}

.btn{
  color:lightgrey;
  text-decoration: none;
  margin-right: 15px;
}

.buttondown{
  text-align: right;
  margin-right: 50px;
}

.imgmargin{
  vertical-align: middle;
}